body {
  font-family: 'Arial', sans-serif;
  background-color: #f9ece9;
  color: #8b5d5d;
  margin: 0;
}

h1 {
  color: #bf6b6b;
}

label {
  color: #8b5d5d;
}

select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #bf6b6b;
  border-radius: 5px;
}

.select-container {
  margin-bottom: 20px;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}


.country-card {
  flex: 0 0 20%; 
  border: 1px solid #bf6b6b;
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
}

.country-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.country-details {
  margin-top: 10px;
}
